body{
    margin: 0;
    padding: 0;
    background: #ffffff;;
}

.box{
    width: 350px;
    height: 350px;
    margin-top: 10%;
    margin-left: 35%;
    /* transform: translate(-50%,-50%); */
    border: 4px solid transparent;
    border-image: linear-gradient(45deg, #ff0, #f0f, #f00, #00f,#0f0);
    border-image-slice: 1;
    box-shadow: 0px 15px 25px rgba(0, 0,0, .6);

}

h1,h2{
    text-shadow: 0px 15px 15px rgba(0, 0,0, .6);
    margin-top: 30%;
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
}
h2{
    margin-top: 0;
}